{% set switch = 1 -%}

{% if switch == 1 -%}
    <script src="assets/libraries/jquery-3.5.1/jquery.js"></script>
    <script src="assets/libraries/bootstrap-4.5.3/bootstrap.js"></script>
    <script src="assets/scripts/main.esm.js"></script>
    <script src="assets/scripts/main.js"></script>
    <script src="assets/scripts/components.esm.js"></script>
    <script src="assets/scripts/components.js"></script>
{%- elseif switch == 2 -%}
    <script src="assets/libraries/jquery-3.5.1/jquery-3.5.1.min.js"></script>
    <script src="assets/libraries/bootstrap-4.5.3/bootstrap.bundle.min.js"></script>
    <script src="assets/scripts/main.esm.min.js"></script>
    <script src="assets/scripts/main.min.js"></script>
    <script src="assets/scripts/components.min.esm.js"></script>
    <script src="assets/scripts/components.min.js"></script>
{%- elseif switch == 3 -%}
    <script src="assets/scripts/bundle.js"></script>
{%- elseif switch == 4 -%}
    <script src="assets/scripts/bundle.min.js"></script>
{%- endif %}