<!doctype html>
<html lang="{{ lang | default('en') }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    {%- if keywords %}<meta name="keywords" content="{{ keywords }}">{% endif -%}
    {% if description %}<meta name="description" content="{{ description }}">{% endif -%}
    {% if robots %}<meta name="robots" content="{{ robots }}">{% endif -%}

    {% block styles %}{% include './_styles.njk' %}{% endblock %}
</head>

<body class="layout">
<div class="container">
    {% include 'header/header.njk' %}
    {% block page %}{% endblock %}
    {% include 'footer/footer.njk' %}
</div>

{%- block scripts %}{% include './_scripts.njk' %}{% endblock %}
</body>

</html>