{% if not useBundle -%}
    <script src="assets/libraries/jquery-3.5.1/jquery.min.js"></script>
    <script src="assets/libraries/bootstrap-4.6.0/bootstrap.min.js"></script>
    <script src="assets/scripts/main.esm.min.js"></script>
    <script src="assets/scripts/main.min.js"></script>
{%- else -%}
    <script src="assets/scripts/bundle.min.js"></script>
{%- endif %}